/* Write your CSS here */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Roboto;
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70vh;
  width: 70vw;
  background-color: #ffffff;
  padding: 20px;
  box-shadow: 1px 1px 3px #1e293b;
  overflow-y: auto;
}
.heading {
  font-size: 40px;
  font-weight: bold;
  color: #1e293b;
}
.cardContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.detailsContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  align-self: flex-start;
}
.para {
  color: #475569;
  font-size: 15px;
}
.inputName {
  padding: 10px;
  margin-bottom: 5px;
}
.inputComment {
  padding: 10px;
  margin-bottom: 5px;
}
.submitBtn {
  background-color: #0284c7;
  color: #ffffff;
  padding: 5px;
  border-radius: 5px;
  width: 120px;
  border-width: 0px;
}
.commentsImg {
  height: 250px;
  width: 300px;
  padding-left: 80px;
}
.hr {
  color: #94a3b8;
  border-style: solid;
}
.commentsCountContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  align-self: center;
}
.commentsCount {
  background-color: #0284c7;
  color: #ffffff;
  width: 15px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  height: 20px;
}
.commentsPara {
  color: #1e293b;
  font-size: 15px;
  font-weight: bold;
}
